<!DOCTYPE html>
<html>
<head>
    <title>Car Price Prediction</title>
    <link rel="stylesheet" href="index.css">
    <header>
        <h1>Car Price Prediction</h1>
    </header>
</head>

<body>

    <form action="/predict" method="post">
        <br>
        <label for="year">Year:</label>
        <input type="text" id="year" name="year" required><br><br>
        <label for="present_price">Present Price:</label>
        <input type="text" id="present_price" name="present_price" required><br><br>
        <br>
        <link rel="stylesheet" href="app.py">
                    <button onclick="window.open('app.py','_blank');"><a href="#">Predict</a></button>
        <br>
        <br>
        <div class="images">
            <div class="photo">
                <img src="C:\Users\hpg13\OneDrive\Desktop\LAB_5\templates\car1.jpg"alt="photo" />
                <img src= "C:\Users\hpg13\OneDrive\Desktop\LAB_5\templates\Car2.jpg"alt="photo" />
            </div>
    </form>
</body>

<footer>
    <br>


    <br>
    <nav id="naviagte">
        <ul class="footer">
            <li>
                <a href="#">@Copyright. This page is to be used only for demonstration purposes.</a>
            </li>
        </ul>
    </nav>
</footer>
</html>
